div(ng-include='"components/navbar/navbar.html"')

.container
  sw-content-previewer(
    sw-title='Edit Page'
    sw-model='pageUpdateCtrl.page'
    sw-submit-text='Update'
    sw-on-submit='pageUpdateCtrl.onSubmit')
