@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

textarea {
  &.resize-none {
    resize: none;
  }
}

// injector
@import 'main/main.less';
@import 'pages/create/styles.less';
@import 'pages/index/styles.less';
@import 'modal/modal.less';
// endinjector
