div(ng-include='"components/navbar/navbar.html"')

.container.page.page-show
  .title
    h1 {{pageShowCtrl.page.readableTitle}}
    hr
  .meta
    dl
      dt
        i.fa.fa-pencil
      dd
        a(ui-sref='pages:update({title: pageShowCtrl.page.title})') Edit
      dt
        i.fa.fa-clock-o
      dd Last edited on {{pageShowCtrl.page.formattedUpdated || pageShowCtrl.page.formattedCreated}}
      dt
        i.fa.fa-eye
      dd {{pageShowCtrl.page.views}}
  hr
  .content
    md-content(ng-bind-html='pageShowCtrl.page.compiledContent')
