div(ng-include='"components/navbar/navbar.html"')

.container
  h1.md-headline {{pageShowCtrl.page.readableTitle}}
    a(ui-sref='pages:update({id: pageShowCtrl.page.id})')
      i.fa.fa-edit
  md-content(ng-bind-html='pageShowCtrl.page.compiledContent')
