div(ng-include='"components/navbar/navbar.html"')

.container
  sw-content-previewer(
    sw-title='Create Page'
    sw-model='pageCreateCtrl.newPage'
    sw-submit-text='Submit'
    sw-on-submit='pageCreateCtrl.onSubmit')
