div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1.md-display-3 Simple Wiki
    p.lead Simple file system based wiki for Nodejs
    .lead-images.row
      .col-xs-4
        a(href='https://angularjs.org/' target='_blank')
          img(src='assets/images/angular.png', alt='Angular')
      .col-xs-4
        a(href='https://nodejs.org/' target='_blank')
          img(src='assets/images/nodejs.png', alt='Nodejs')
      .col-xs-4
        a(href='http://yeoman.io/' target='_blank')
          img(src='assets/images/yeoman.png', alt='I\'m Yeoman')
md-content#mainPage
  .container
    .row
      md-content.md-padding.col-sm-6
        h2.md-title
          i.fa.fa-file-text-o
          = 'Recent Pages'
        ol
          li.md-3-line(ng-repeat='page in mainCtrl.pages | orderBy:"-created" | limitTo:5')
              a(ui-sref='pages:show({title: page.title})', tooltip='{{page.readableTitle}}') {{page.readableTitle}}
      md-content.md-padding.col-sm-6
        h2.md-title
          i.fa.fa-eye
          = 'Most Viewed'
        ol
          li.md-3-line(ng-repeat='page in mainCtrl.pages | orderBy:"-views" | limitTo:5')
            a(ui-sref='pages:show({title: page.title})', tooltip='{{page.readableTitle}}') {{page.readableTitle}}
            = ' ({{page.views}})'
    .row
      md-content.md-padding.col-sm-6
        h2.md-title
          i.fa.fa-link
          = 'Quick Links'
        ul
          li.md-3-line
            a(ui-sref='pages:create') Create New Page
      md-content.md-padding.col-sm-6
        h2.md-title
          i.fa.fa-book
          = 'Documentation'
        ul
          li.md-3-line
            a(href='https://github.com/vikeen/simple-wiki' target='_blank') Github
