div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-12
      h1.page-header Pages:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='page in pages')
        li
          a(href='#', tooltip='{{page.name}}')
            | {{page.name}}
